<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=h page_title %></title>
  <%= page_header %>
  <%= stylesheet_link_tag '/stylesheets/theme/layout.css', :media => 'all' %>
  <%= stylesheet_link_tag '/stylesheets/theme/html.css', :media => 'all' %>
  <%= stylesheet_link_tag '/stylesheets/theme/print.css', :media => 'print' %>
</head>
<body>
  <div id="content">
<!-- start header -->
    <div id="header">
      <div id="title">
        <h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
        <h2><%= this_blog.blog_subtitle %></h2>
      </div>
      <%= image_tag '/images/theme/bg/balloons.gif', :class => "balloons" %>
      <%= image_tag '/images/theme/bg/header_left.jpg', :class => "left"  %>
      <%= image_tag '/images/theme/bg/header_right.jpg', :class => "right" %>
  </div>
 <!-- end header -->
  <!-- MAIN MENU: Top horizontal menu of the site.  Use class="here" to turn the current page tab on -->
  <div id="mainMenu">
    <ul class="floatRight">
      <li><%= link_to (_("Home"),"/", :class=>(@active_name)?'':'here')%></li>
      <%= render_page_sidebar  %>
    </ul>
  </div>
  <div id="page">
    <div class="width25 floatLeft leftColumn">
      <!-- sidebar components -->
      <%= render_sidebars %>
    </div>

    <div class="width75 floatRight">
      <%= @content_for_layout %>
      <%= javascript_tag 'show_dates_as_local_time()' %>
    </div>
  </div>

  <div id="footer">
  <div id="width">
    <span class="floatLeft">
      valid <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML">XHTML</a> <span class="grey">|</span>
      should be valid <a href="http://jigsaw.w3.org/css-validator" title="Validate CSS">CSS</a>
    </span>
  </div>
  </div>
  </div>
</body>
</html>

